In [1]:
import pandas as pd

longman_words = pd.read_csv('longman.csv')
longman_words

/var/folders/54/y4j9qbmj0tl556ngl3hnxbl00000gn/T/ipykernel_16836/3449537512.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

          word
0            a
1      ability
2        about
3        above
4       abroad
...        ...
2188      your
2189     yours
2190  yourself
2191     youth
2192      zero

[2193 rows x 1 columns]

In [4]:
# shuffled = longman_words.sample(frac=1)
# write to longman_shuffled.csv
# shuffled.to_csv('longman_shuffled.csv', index=False)

In [10]:
shuffled = pd.read_csv('longman_shuffled.csv')['word'].values
# put in 10 words groups
groups = [shuffled[i:i+10] for i in range(0, len(shuffled), 10)]

groups[0]

array(['nice', 'brass', 'valley', 'suck', 'bowl', 'tense', 'annoy',
       'criminal', 'naval', 'peaceful'], dtype=object)

In [12]:
groups[1]

array(['poor', 'sew', 'high', 'female', 'outdoors', 'parent', 'mineral',
       'climb', 'reward', 'once'], dtype=object)

In [13]:
# make a new csv file with each group a column
df = pd.DataFrame(groups)
df.to_csv('longman_shuffled_10.csv', index=False)